In [1]:
import get_data
import pandas as pd

df = get_data.read_yahoo_data('GME')
df

[2021-03-13 23:21:10] [1064] [get_data] [DEBUG] - Gathering daily stock data for GME from 2013-03-15 00:00:00 to 2021-03-13 00:00:00

                 Close        High         Low        Open      Volume
Date
2013-03-15   25.450001   25.480000   24.959999   25.330000   2605700.0
2013-03-18   25.719999   25.799999   25.170000   25.170000   1454500.0
2013-03-19   25.240000   25.780001   24.889999   25.780001   1294300.0
2013-03-20   25.450001   25.520000   25.040001   25.389999   1829600.0
2013-03-21   25.240000   25.670000   25.010000   25.350000   1893000.0
...                ...         ...         ...         ...         ...
2021-03-08  194.500000  210.869995  146.100006  154.889999  63424800.0
2021-03-09  246.899994  249.850006  208.509995  217.710007  38725800.0
2021-03-10  265.000000  348.500000  172.000000  269.429993  71361900.0
2021-03-11  260.000000  281.500000  232.600006  241.639999  28186000.0
2021-03-12  264.500000  295.500000  262.269989  275.000000  25760700.0

[2013 rows x 5 columns]

In [2]:
df.min()

Close          2.80
High           2.94
Low            2.57
Open           2.85
Volume    626000.00
dtype: float64